# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/ 

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Config files
*.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.zip

# Ignorar os arquivos dentro da pasta data/input
data/input/*
!data/input/.gitkeep

# Ignorar os arquivos dentro da pasta data/reference
data/reference/*
!data/reference/.gitkeep

# Ignorar todos os arquivos dentro de data/output
data/output/*
!data/output/.gitkeep